In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
#load in the files
file_to_load = "effective_tax_rate_2021.xlsx"
tax_rate = pd.read_excel(file_to_load)

In [12]:
#confirm file has been converted to dataframe
tax_rate

,Overall Rank (1=Lowest),State,Effective Total State & Local Tax Rates on Median U.S. Household*,Annual State & Local Taxes on Median U.S. Household*,% Difference Between State & U.S. Avg.**,Annual State & Local Taxes on Median State Household***,Adjusted Overall Rank (based on Cost of Living Index)
0,1,Alaska,0.0584,3694,-0.4590,4585,3
1,2,Delaware,0.0625,3949,-0.4217,4366,1
2,3,Montana,0.0711,4494,-0.3419,4301,2
3,4,Nevada,0.0794,5017,-0.2653,5180,10
4,5,Wyoming,0.0805,5086,-0.2551,5178,8
5,6,Florida,0.0823,5204,-0.2379,4820,5
6,7,Utah,0.0834,5274,-0.2276,6194,9
7,8,Idaho,0.0843,5329,-0.2196,4870,6
8,9,Colorado,0.0854,5396,-0.2098,6611,13
9,10,Tennessee,0.0872,5513,-0.1927,4551,4
10,11,California,0.0896,5662,-0.1708,8588,32
11,12,South Carolina,0.0899,5683,-0.1678,4779,11
12,13,Oregon,0.0899,5686,-0.1673,6598,24
13,14,District of Columbia,0.0904,5715,-0.1630,9563,42
14,15,Alabama,0.0910,5754,-0.1573,4508,7
15,16,Arizona,0.0952,6021,-0.1183,5814,14
16,17,West Virginia,0.0969,6124,-0.1031,4405,12
17,18,North Dakota,0.1003,6343,-0.0711,6253,23
18,19,New Hampshire,0.1006,6358,-0.0688,7577,33
19,20,New Mexico,0.1054,6663,-0.0242,5257,20
20,21,Georgia,0.1057,6683,-0.0213,5989,15
21,22,North Carolina,0.1061,6710,-0.0173,5742,17
22,23,Louisiana,0.1063,6723,-0.0154,5239,19
23,24,Hawaii,0.1066,6736,-0.0135,9621,45
24,25,Virginia,0.1073,6783,-0.0066,7955,26
25,26,Massachusetts,0.1090,6890,0.0091,9972,43
26,27,South Dakota,0.1116,7055,0.0333,6095,27
27,28,Missouri,0.1125,7111,0.0414,6023,16
28,29,Minnesota,0.1127,7128,0.0439,7774,29
29,30,Arkansas,0.1128,7134,0.0448,5217,18
30,31,Oklahoma,0.1144,7235,0.0595,5673,22
31,32,Maryland,0.1149,7261,0.0634,10011,46
32,33,Vermont,0.1162,7347,0.0760,7498,41
33,34,Indiana,0.1175,7430,0.0881,6239,28
34,35,Maine,0.1181,7465,0.0933,6792,40
35,36,Mississippi,0.1197,7569,0.1086,5381,21
36,37,Washington,0.1202,7601,0.1133,9732,39
37,38,Michigan,0.1222,7728,0.1318,6388,25
38,39,Kentucky,0.1248,7887,0.1551,6115,30
39,40,Texas,0.1279,8083,0.1837,7212,34
40,41,Rhode Island,0.1282,8103,0.1867,9063,50
41,42,New Jersey,0.1284,8117,0.1888,11906,48
42,43,Ohio,0.1318,8329,0.2198,6724,31
43,44,Iowa,0.1318,8334,0.2205,7053,35
44,45,Wisconsin,0.1322,8357,0.2239,7586,37
45,46,Nebraska,0.1327,8386,0.2282,7214,38
46,47,Kansas,0.1343,8488,0.2430,7294,36
47,48,Pennsylvania,0.1397,8830,0.2932,8138,44
48,49,New York,0.1408,8900,0.3034,11024,49
49,50,Connecticut,0.1484,9379,0.3736,11625,51
50,51,Illinois,0.1501,9488,0.3895,9200,47

In [13]:
#check datatypes are in line with import to sql desired outcomes
tax_rate.dtypes

Overall Rank (1=Lowest)                                                 int64
State                                                                  object
Effective Total State & Local Tax Rates on Median U.S. Household*     float64
Annual State & Local Taxes on Median U.S. Household*                    int64
% Difference Between State & U.S. Avg.**                              float64
Annual State & Local Taxes on Median State Household***                 int64
Adjusted Overall Rank (based on Cost of Living Index)                   int64
dtype: object

In [14]:
# United States of America Python Dictionary to translate States,
# Districts & Territories to Two-Letter codes and vice versa.
#
# https://gist.github.com/rogerallen/1583593
#
# Dedicated to the public domain.  To the extent possible under law,
# Roger Allen has waived all copyright and related or neighboring
# rights to this code.

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [19]:
#Utilize the map function to add a state abbreviation column to the dataframe to match with the style of our working tables
#in SQL. Using the str.lower function to change the strings to lowercase.

tax_rate['abbrev'] = tax_rate['State'].map(us_state_abbrev)
tax_rate['abbrev'] = tax_rate['abbrev'].astype(str).str.lower()
tax_rate['State'] = tax_rate['State'].str.lower()

tax_rate

,Overall Rank (1=Lowest),State,Effective Total State & Local Tax Rates on Median U.S. Household*,Annual State & Local Taxes on Median U.S. Household*,% Difference Between State & U.S. Avg.**,Annual State & Local Taxes on Median State Household***,Adjusted Overall Rank (based on Cost of Living Index),abbrev
0,1,alaska,0.0584,3694,-0.4590,4585,3,ak
1,2,delaware,0.0625,3949,-0.4217,4366,1,de
2,3,montana,0.0711,4494,-0.3419,4301,2,mt
3,4,nevada,0.0794,5017,-0.2653,5180,10,nv
4,5,wyoming,0.0805,5086,-0.2551,5178,8,wy
5,6,florida,0.0823,5204,-0.2379,4820,5,fl
6,7,utah,0.0834,5274,-0.2276,6194,9,ut
7,8,idaho,0.0843,5329,-0.2196,4870,6,id
8,9,colorado,0.0854,5396,-0.2098,6611,13,co
9,10,tennessee,0.0872,5513,-0.1927,4551,4,tn
10,11,california,0.0896,5662,-0.1708,8588,32,ca
11,12,south carolina,0.0899,5683,-0.1678,4779,11,sc
12,13,oregon,0.0899,5686,-0.1673,6598,24,or
13,14,district of columbia,0.0904,5715,-0.1630,9563,42,dc
14,15,alabama,0.0910,5754,-0.1573,4508,7,al
15,16,arizona,0.0952,6021,-0.1183,5814,14,az
16,17,west virginia,0.0969,6124,-0.1031,4405,12,wv
17,18,north dakota,0.1003,6343,-0.0711,6253,23,nd
18,19,new hampshire,0.1006,6358,-0.0688,7577,33,nh
19,20,new mexico,0.1054,6663,-0.0242,5257,20,nm
20,21,georgia,0.1057,6683,-0.0213,5989,15,ga
21,22,north carolina,0.1061,6710,-0.0173,5742,17,nc
22,23,louisiana,0.1063,6723,-0.0154,5239,19,la
23,24,hawaii,0.1066,6736,-0.0135,9621,45,hi
24,25,virginia,0.1073,6783,-0.0066,7955,26,va
25,26,massachusetts,0.1090,6890,0.0091,9972,43,ma
26,27,south dakota,0.1116,7055,0.0333,6095,27,sd
27,28,missouri,0.1125,7111,0.0414,6023,16,mo
28,29,minnesota,0.1127,7128,0.0439,7774,29,mn
29,30,arkansas,0.1128,7134,0.0448,5217,18,ar
30,31,oklahoma,0.1144,7235,0.0595,5673,22,ok
31,32,maryland,0.1149,7261,0.0634,10011,46,md
32,33,vermont,0.1162,7347,0.0760,7498,41,vt
33,34,indiana,0.1175,7430,0.0881,6239,28,in
34,35,maine,0.1181,7465,0.0933,6792,40,me
35,36,mississippi,0.1197,7569,0.1086,5381,21,ms
36,37,washington,0.1202,7601,0.1133,9732,39,wa
37,38,michigan,0.1222,7728,0.1318,6388,25,mi
38,39,kentucky,0.1248,7887,0.1551,6115,30,ky
39,40,texas,0.1279,8083,0.1837,7212,34,tx
40,41,rhode island,0.1282,8103,0.1867,9063,50,ri
41,42,new jersey,0.1284,8117,0.1888,11906,48,nj
42,43,ohio,0.1318,8329,0.2198,6724,31,oh
43,44,iowa,0.1318,8334,0.2205,7053,35,ia
44,45,wisconsin,0.1322,8357,0.2239,7586,37,wi
45,46,nebraska,0.1327,8386,0.2282,7214,38,ne
46,47,kansas,0.1343,8488,0.2430,7294,36,ks
47,48,pennsylvania,0.1397,8830,0.2932,8138,44,pa
48,49,new york,0.1408,8900,0.3034,11024,49,ny
49,50,connecticut,0.1484,9379,0.3736,11625,51,ct
50,51,illinois,0.1501,9488,0.3895,9200,47,il

In [20]:
#Confirm dtypes post transformation
tax_rate.dtypes

Overall Rank (1=Lowest)                                                 int64
State                                                                  object
Effective Total State & Local Tax Rates on Median U.S. Household*     float64
Annual State & Local Taxes on Median U.S. Household*                    int64
% Difference Between State & U.S. Avg.**                              float64
Annual State & Local Taxes on Median State Household***                 int64
Adjusted Overall Rank (based on Cost of Living Index)                   int64
abbrev                                                                 object
dtype: object

In [21]:
#Create the database engine

#from config import db_password
db_password = 'N04E06y!)'

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"

engine = create_engine(db_string)

In [23]:
#Import the Tax Data to SQL
tax_rate.to_sql(name='tax_rates', con=engine)

# Cost of Living Index (Cleaning and Import to SQL)

In [24]:
#import the file into pandas df
file_to_load = "advisorsmith_cost_of_living_index.csv"
col_index = pd.read_csv(file_to_load)
col_index.head()

         City State  Cost of Living Index
0     Abilene    TX                  89.1
1      Adrian    MI                  90.5
2       Akron    OH                  89.4
3  Alamogordo    NM                  85.8
4      Albany    GA                  87.3

In [25]:
#check for null values
col_index.isnull().sum()

City                    0
State                   0
Cost of Living Index    0
dtype: int64

In [26]:
#check column data types
col_index.dtypes

City                     object
State                    object
Cost of Living Index    float64
dtype: object

In [27]:
#Check the dataframe length
print(len(col_index["City"]))

510

In [47]:
#Change strings to lowercase only
col_index["City"] = col_index["City"].str.lower()
col_index["State"] = col_index["State"].str.lower()

In [51]:
#Check for potential duplicates. Note that there are 510 rows and 471 unique city names but some cities have the 
#same name in different states.

col_index["city_state"] = col_index["City"] + "_" +col_index["State"]

m = col_index.nunique(axis=0)

print("No.of.unique values in each column :\n",
      m)

No.of.unique values in each column :
 City                    471
State                    51
Cost of Living Index    253
city_state              510
dtype: int64

In [52]:
col_index.head()

         City State  Cost of Living Index     city_state
0     abilene    tx                  89.1     abilene_tx
1      adrian    mi                  90.5      adrian_mi
2       akron    oh                  89.4       akron_oh
3  alamogordo    nm                  85.8  alamogordo_nm
4      albany    ga                  87.3      albany_ga

In [53]:
#Import the Cost of Living Data to SQL
col_index.to_sql(name='col_index', con=engine)